<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Giga Pisar</string>
    <key>CFBundleDisplayName</key>
    <string>Giga Pisar</string>
    <key>CFBundleIdentifier</key>
    <string>ru.panda.giga</string>
    <key>CFBundleExecutable</key>
    <string>Giga</string>
    <key>CFBundleIconFile</key>
    <string>Giga</string>
    <key>CFBundleVersion</key>
    <string>3.6.6</string>
    <key>CFBundleShortVersionString</key>
    <string>3.6.6</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.4</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>Giga Pisar записывает голос, чтобы превратить его в текст (локально, через GigaAM).</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
</dict>
</plist>
